.header-container {
    background: rgba(255,255,255,.95);
    width: 100%;

    @media only screen and (min-width: $break-small) {
        position: fixed;
    }

    @media only screen and (min-width: $break-medium) {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
}

.nav-wrapper {
    margin: 0 20px;
}

.title {
    color: $light-green;
    margin-top:25px;

    @media only screen and (min-width: $break-medium) {
        float: left;
    }

    .big {
        color: $dark-green;
        text-transform: uppercase;
    }
}

nav {
    float: center;

	ul {
    	margin: 0;
    	padding: 0;
	}

    ul li {
        display: inline;
        width: 100%;
    }

	a {
        display: block;
        margin-bottom: 10px;
        padding: 15px 0 0 0;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;

        color: #333;

    	&:hover,
    	&:visited {
		    background-color: 5px solid $light-green;
    	}
	}

    @media only screen and (min-width: $break-small) {
        float: right;
        width: 400px;

        a {
            float: left;
            margin: 0 1.7%;
            padding: 25px 2% 15px 2%;
            margin-bottom: 0;
            border-bottom: 5px solid transparent;

            &:hover,
            &:visited {
                border-bottom: 5px solid $light-green;
            }
        }


        li {
            &:first-child a {
                margin-left: 0;
            }

            &:last-child a {
                margin-right: 0;
            }
        }
    }

    @media only screen and (min-width: $break-medium) {

    }
}

.oldie nav a {
    @media only screen and (min-width: $break-small) {
        margin: 0 0.7%;
    }
}